<footer>
    <div class="container py-4" style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-3 mb-4 logo-foot">
          <div class="d-flex align-items-center logo-apple">
            <a routerLink="/"><mat-icon>apple</mat-icon></a>
            <a routerLink="/" class="ms-2" style="color: rgb(227, 227, 227); font-size: large;">Johness</a>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <h5 class="text-white">Tổng đài</h5>
          <ul class="list-unstyled">
            <li><a href="tel:1900 3004" class="text-decoration-none text-white"><span>Mua hàng:</span> <b>1900 3004</b></a></li>
            <li><a href="tel:1900 3004" class="text-decoration-none text-white"><span>Khiếu nại:</span> <b>1900 3004</b></a></li>
          </ul>
          <div class="footer-social mt-3">
            <p class="text-white">Kết nối với chúng tôi</p>
            <a href="https://www.facebook.com/truongdz.ng" target="_blank" class="me-2 link-social"><mat-icon>facebook</mat-icon></a>
            <a href="https://www.youtube.com/channel/UCDvGtFofsNAOiZ_V3Ur5l9A" target="_blank" class="link-social"><mat-icon>youtube</mat-icon></a>
          </div>
        </div>
        <!-- Thêm các cột khác tương tự -->
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <p class="text-white-50">
            Trang web bán điện thoại
            <br> Nguyễn Quang Trường_DH52111977_D21-TH12.
            <br> Địa chỉ: 713, Tạ Quang Bửu, Q.8, TP. Hồ Chí Minh.
            <br> Điện thoại: 0947890450.
            <br> Email: Nguyentruongk530042003&#64;gmail.com
          </p>
        </div>
        <!-- Thêm cột khác nếu cần -->
      </div>
    </div>
  </footer>
  